<div class="d-flex flex-wrap justify-content-center gap-5">
  <div class="mb-5 course-card d-flex" *ngFor="let i of course_detail">
    <div class="card-image me-3">
      <span class="pill">Free</span>
    </div>
    <div class="d-flex flex-column justify-content-between">
      <div class="card-content">
        <div class="d-flex mb-3">
          <h6 class="me-5"><i class="bi bi-bookmark-check-fill me-2"></i>{{i.chapter}} Modules</h6>
          <h6><i class="bi bi-clock-fill me-2"></i>{{i.duration}} Hours</h6>
        </div>
        <div class="course-heading">
          <h5 class="fw-bold">{{i.title}}</h5>
          <p>{{i.desc}}</p>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex author-profile">
          <a href="https://githack27.github.io/" target="_blank"><img src="/Images/Kausthuban_profile.png" alt="Author Image" class="profile-pic"/></a>
          <h5 class="m-0">{{i.author}}</h5>
        </div>
        <div>
          <button class="arr btn-secondary">Start Now <i class="arr bi bi-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
