<div class="not-found-container d-flex flex-column flex-wrap justify-content-center align-items-center">
  <div class="my-5">
    <img src="/Images/PraShiksha_Logo.png" class="logo" width="100" height="70" alt="Logo" />
  </div>
  <div class="my-5 d-flex flex-column align-items-center">
    <img src="/Images/404.png" class="img-fluid" />
    <h1 class="text-center fw-bolder">Page Not Found?</h1>
    <p class="text-center">Whoops, this is embarassing.
      Looks like the page you were looking for wasn't found.</p>
    <button class="btn btn-primary" (click)="navigateBackHome()">Go Back</button>
  </div>
  <div class="text-center m-5">
    <h5 class="m-0">&copy; 2025 PraShiksha. Design & Develop with DetQel</h5>
  </div>
</div>
