<app-header></app-header>

<div class="about-container container-fluid d-flex flex-wrap justify-content-center align-items-center">
  <div class="about-content-image">
  </div>
  <div class="about-content d-flex flex-column align-items-start justify-content-evenly mt-5">
    <div class="content">
      <h3 class="fw-bold">Access to learning:
          Anytime & Anyware</h3>
      <p>At PraShiksha, we believe education should be accessible, flexible, and tailored to today's fast-paced world. Our cutting-edge
        Learning Management System (LMS) empowers individuals and organizations to learn anytime, anywhere.</p>
        <p>We offer a seamless digital learning experience with interactive courses, real-time progress tracking,
        personalized learning paths and industrial experts.</p>
    </div>
    <button class="arr btn-secondary">Explore Now <i class="arr bi bi-arrow-right"></i></button>
  </div>
</div>

<div class="my-5 text-center">
  <h3 class="fw-bolder">Discover Powerful Features</h3>
  <h6>Discover a world of knowledge and opportunities with our online education <br>platform pursue a new career.</h6>
</div>

<div class="d-flex flex-wrap justify-content-center gap-5 mb-5">
  <div class="powerful-features-card">
    <div class="features-card-icon d-flex justify-content-center align-items-center">
      <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
      height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg">
      <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
    </svg>
    </div>
    <p class="features-title">Learning</p>
    <p class="feature-body">The phrasal sequence of the is now so that many campaign and benefit</p>
    <div>
      <button class="btn-tertiary">Read More -></button>
    </div>
  </div>
  <div class="powerful-features-card">
    <div class="features-card-icon d-flex justify-content-center align-items-center">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 32 32" class="text-3xl" height="2em" width="2em"
      xmlns="http://www.w3.org/2000/svg"><path d="M 7 3 L 11.265625 13.359375 C 8.7096967 14.94892 7 17.775441 7 21 C 7 25.962 11.037 30
      16 30 C 20.963 30 25 25.962 25 21 C 25 17.775441 23.290303 14.94892 20.734375 13.359375 L 25 3 L 22.837891 3 L 18.925781 12.498047
      C 18.268581 12.271202 17.580892 12.113483 16.865234 12.044922 L 20.587891 3 L 18.425781 3 L 14.673828 12.109375 C 14.12256
      12.191305 13.588371 12.320577 13.074219 12.498047 L 9.1621094 3 L 7 3 z M 11.412109 3 L 13.953125 9.1738281 L 15.035156 6.546875
      L 13.574219 3 L 11.412109 3 z M 16 14 C 19.859 14 23 17.14 23 21 C 23 24.86 19.859 28 16 28 C 12.141 28 9 24.86 9 21 C 9 17.14
      12.141 14 16 14 z M 16 17.162109 L 14.832031 19.78125 L 12 20.091797 L 14.119141 21.996094 L 13.523438 24.806641 L 16 23.376953
      L 18.476562 24.806641 L 17.880859 21.996094 L 20 20.091797 L 17.167969 19.78125 L 16 17.162109 z"></path></svg>
    </div>
    <p class="features-title">Certificate</p>
    <p class="feature-body">The phrasal sequence of the is now so that many campaign and benefit</p>
    <div>
      <button class="btn-tertiary">Read More -></button>
    </div>
  </div>
  <div class="powerful-features-card">
    <div class="features-card-icon d-flex justify-content-center align-items-center">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 32 32" class="text-3xl" height="2em" width="2em"
      xmlns="http://www.w3.org/2000/svg"><path d="M 5 6 L 5 19.5625 L 2.71875 21.876953 C 2.26575 22.328953 2 22.95275 2 23.59375 C 2
      24.91375 3.08625 26 4.40625 26 L 27.59375 26 C 28.91375 26 30 24.91375 30 23.59375 C 30 22.95275 29.73425 22.328 29.28125 21.875
      L 27 19.5625 L 27 6 L 5 6 z M 7 8 L 25 8 L 25 19 L 7 19 L 7 8 z M 16 9 L 14.5 18 L 16 18 L 17.5 9 L 16 9 z M 12.085938 11 L
      10.367188 13.068359 L 10 13.5 L 10.367188 13.931641 L 12.085938 16 L 13.171875 15.136719 L 11.810547 13.5 L 13.171875 11.863281
      L 12.085938 11 z M 19.914062 11 L 18.828125 11.863281 L 20.189453 13.5 L 18.828125 15.136719 L 19.914062 16 L 21.632812 13.931641
      L 22 13.5 L 21.632812 13.068359 L 19.914062 11 z M 6.4375 21 L 25.5625 21 L 27.875 23.28125 C 27.953 23.35925 28 23.48375 28
      23.59375 C 28 23.83575 27.83575 24 27.59375 24 L 4.40625 24 C 4.16425 24 4 23.83575 4 23.59375 C 4 23.48475 4.047 23.36025 4.125
      23.28125 L 6.4375 21 z"></path></svg>
    </div>
    <p class="features-title">Mentoring</p>
    <p class="feature-body">The phrasal sequence of the is now so that many campaign and benefit</p>
    <div>
      <button class="btn-tertiary">Read More -></button>
    </div>
  </div>
  <div class="powerful-features-card">
    <div class="features-card-icon d-flex justify-content-center align-items-center">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="text-3xl" height="2em" width="2em"
      xmlns="http://www.w3.org/2000/svg"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
      <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5
      4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1
      1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"></path></svg>
    </div>
    <p class="features-title">Creativity</p>
    <p class="feature-body">The phrasal sequence of the is now so that many campaign and benefit</p>
    <div>
      <button class="btn-tertiary">Read More -></button>
    </div>
  </div>
</div>


<div #testimonialBanner class="testimonial-banner container-fluid d-flex flex-column flex-lg-row flex-md-row flex-wrap align-items-center justify-content-center mb-5">
  <div class="overlay-banner">
  </div>
  <div class="testimonial-text" *ngFor="let item of counters">
    <h2>{{ item.currentValue }}+</h2>
    <h4>{{ item.label }}</h4>
  </div>
</div>

<app-instructors></app-instructors>

<div class="help-section my-5 d-flex flex-column justify-content-center align-items-center">
  <h4 class="text-center">Have Question ? Get in touch</h4>
  <p>We have a 24/7 customer service agents</p>
  <a href=""><button class="btn btn-primary"><i class="arr bi bi-telephone me-2"></i>Contact us</button></a>
</div>

<app-footer></app-footer>
