<div class="container">
  <div class="main-body">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>

        <div class="row gutters-sm">
          <div class="col-md-6 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{ profileForm.get('fullName')?.value || user?.email }}</h4>
                    <p class="text-secondary mb-1">{{ profileForm.get('designation')?.value}}</p>
                  </div>
                </div>
                <div class="mt-3">
                  <h4>About</h4>
                  <p class="text-secondary mb-1">{{ profileForm.get('about')?.value }}</p>
                </div>
                <div class="mt-3">
                  <h4>Contact</h4>
                  <p class="text-secondary mb-1">Email: {{ user?.email }}</p>
                  <p class="text-secondary mb-1">Mobile: {{ profileForm.get('mobile')?.value }}</p>
                </div>
                <div class="mt-3">
                  <h4>Skills</h4>
                  <p class="text-secondary mb-1">{{ profileForm.get('skills')?.value }}</p>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                  <span class="text-secondary">{{ profileForm.get('portfolio')?.value || 'Not provided' }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                  <span class="text-secondary">{{ profileForm.get('github')?.value || 'Not provided' }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 50 50">
                    <circle cx="14" cy="14" r="3" fill="#00a4ff"></circle><path fill="#16d6fa" d="M37.718,47H12.282C7.164,47,3,42.836,3,37.718V12.282C3,7.164,7.164,3,12.282,3h25.436	C42.836,3,47,7.164,47,12.282v25.436C47,42.836,42.836,47,37.718,47z M12.282,7C9.369,7,7,9.369,7,12.282v25.436	C7,40.631,9.369,43,12.282,43h25.436C40.631,43,43,40.631,43,37.718V12.282C43,9.369,40.631,7,37.718,7H12.282z"></path><rect width="4" height="19" x="12" y="19" fill="#16d6fa"></rect><rect width="4" height="19" x="21" y="19" fill="#16d6fa"></rect><path fill="#16d6fa" d="M38,38h-4V27.5c0-1.056-0.252-4.5-3.5-4.5c-2.468,0-5.5,3.032-5.5,5.5V38h-4v-9.5	c0-4.706,4.794-9.5,9.5-9.5c4.416,0,7.5,3.495,7.5,8.5V38z"></path></svg>LinkedIn</h6>
                  <span class="text-secondary text-wrap">{{ profileForm.get('linkedin')?.value || 'Not provided' }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                  <span class="text-secondary">{{ profileForm.get('instagram')?.value || 'Not provided' }}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="card-body" [formGroup]="profileForm">
                <div class="row mb-3" *ngFor="let field of fields">
                  <div class="col-sm-3">
                    <h6 class="mb-0">{{ field.label }}</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <input
                      class="form-control"
                      [type]="field.type || 'text'"
                      [formControlName]="field.name"
                      [readonly]="!isEditing && field.name !== 'email'"
                      [placeholder]="field.placeholder"
                    />
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-sm-12">
                    <button class="btn btn-info me-2" (click)="onEdit()" *ngIf="!isEditing">Edit</button>
                    <button class="btn btn-success me-2" (click)="onSave()" *ngIf="isEditing">Save</button>
                    <button class="btn btn-secondary" (click)="onCancel()" *ngIf="isEditing">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
