<div class="my-5 container-fluid d-flex flex-column align-items-center p-0">
  <div class="w-50">
    <h2 class="fw-bold text-center mb-3">Expert Instructors</h2>
    <h6 class="text-center m-0">Discover a world of knowledge and opportunities with our online education platform pursue a new career.</h6>
  </div>
  <div class="my-5 d-flex flex-lg-row flex-wrap flex-column align-items-center justify-content-evenly">
    <div class="mx-5" *ngFor="let i of [1,2,3,4]">
      <img src="/Images/Kausthuban_profile.png" width="250" class="instructor-pic my-5" alt="Instructors" />
      <h5 class="m-0 text-center">Kausthuban</h5>
      <h6 class="m-0 text-center">SDE</h6>
    </div>
  </div>
</div>
